<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    
    <link rel="stylesheet" href="static/main.css">

    <title>ITube</title>
  </head>
  <body>
  <div class="body">
    <div class="main">
       <form action="/" method="POST">
          <input type="text" class="text" name="requested" />
          <input type="submit" class="button" value="Search" />
      </form>
    </div>
  
  
  
  </div>
    
    
   

   
  </body>
</html>
